.login-area {
    width: 400px;
    height: 400px;
    background-color: #EEE;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    color: #ff0000;
}